* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/background_2.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  width: 250px;
}
