* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 루트 색 지정 */
:root {
  --point-color: #b6c7aa;
  --basic-color: #f6e6cb;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("/img/background_2.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* 컨테이너 영역 */
.container {
  width: 1200px;
  margin: 50px auto;
  background: white;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
}

/* 컨테이너 헤더 영역 */
.game-logo {
  width: 200px;
  height: auto;
}

.container-head h2 {
  font-size: 32px;
  color: #333;
  letter-spacing: 4px;
}

.bookmark-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background: var(--point-color);
  background: var(--point-color);
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}

.bookmark-btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.user-info {
  width: 400px;
  height: auto;
  border: 2px solid #333333;
}

.user-lan {
  background: var(--basic-color);
  width: 400px;
  height: auto;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  margin-left: 20px;
}
.user-stat {
  background: var(--basic-color);
  width: 900px;
  height: auto;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
}

.container-info {
  display: flex;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
}
.user-img {
  width: 100px;
  height: auto;
}
