* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  background-image: url("../assets/background_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game-box {
  width: 1000px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-screen {
  position: relative;

  width: 100%;
  height: 300px;

  overflow: hidden;

  border-radius: 12px;
}

.score-bar {
  height: 60px;
  padding: 0 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  border-radius: 12px;

  font-size: 24px;
  font-weight: bold;
}

.typing-box {
  padding: 30px;

  background: white;
  border-radius: 12px;
}

.typing__text p {
  min-height: 60px;

  font-size: 28px;
  font-weight: bold;

  margin-bottom: 20px;
}

.input__field {
  width: 100%;
  height: 55px;
  padding: 0 15px;

  border: 2px solid #ccc;
  border-radius: 8px;

  font-size: 22px;
}

.typing-info {
  margin-top: 20px;

  display: flex;
  justify-content: center;
  gap: 40px;

  font-size: 20px;
  font-weight: bold;
}

.typing__text p {
  white-space: pre-wrap;
}

.correct {
  color: #4caf50;
}

.incorrect {
  color: #f44336;
  background-color: rgba(244, 67, 54, 0.15);
}
.correct,
.incorrect {
  display: inline;
}

.hidden {
  display: none;
}

.result-modal {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.result-box {
  width: 700px;

  background: white;

  border-radius: 20px;

  padding: 40px;
}

.result-box h1 {
  text-align: center;

  margin-bottom: 30px;
}

.result-content {
  display: flex;

  gap: 30px;

  align-items: center;

  margin-bottom: 30px;
}

.result-monster-img {
  width: 180px;
  height: 180px;
}

.result-info {
  flex: 1;
}

.result-info h2 {
  margin-bottom: 20px;
}

.result-info p {
  margin-bottom: 10px;

  font-size: 20px;
  border-bottom: 1px solid lightgray;
}

.result-buttons {
  display: flex;

  justify-content: center;

  gap: 20px;
}

.result-buttons button {
  width: 180px;
  height: 50px;

  border: none;

  border-radius: 10px;

  cursor: pointer;

  font-size: 18px;
  font-weight: bold;
}

.result-modal.hidden {
  display: none;
}

.back1 {
  position: absolute;

  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: 1;
}

.back1 {
  position: absolute;

  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: 1;
}

.player {
  position: absolute;

  left: 10%;
  bottom: 5%;

  width: 30%;

  z-index: 2;
}

.monster {
  position: absolute;

  right: 10%;
  bottom: 5%;

  width: 25%;

  z-index: 2;
}

.attack {
  position: absolute;

  left: 30%;
  bottom: 5%;

  width: 30%;

  opacity: 0;
  z-index: 2;
}

.attack.active {
  opacity: 1;
}

@keyframes monsterShake {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-6px, 2px);
  }
  40% {
    transform: translate(6px, -2px);
  }
  60% {
    transform: translate(-4px, 2px);
  }
  80% {
    transform: translate(4px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.monster-shake {
  animation:
    monsterShake 0.4s ease,
    flash 0.2s;
}

@keyframes flash {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes screenShake {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-6px, 3px);
  }
  40% {
    transform: translate(6px, -3px);
  }
  60% {
    transform: translate(-4px, 2px);
  }
  80% {
    transform: translate(4px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes monsterExplosion {
  0% {
    transform: scale(1);
    opacity: 1;
    filter: brightness(1);
  }
  30% {
    transform: scale(1.4);
    filter: brightness(3);
  }
  60% {
    transform: scale(1.8);
    opacity: 0.8;
    filter: blur(1px) brightness(2);
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
    filter: blur(4px) brightness(0);
  }
}

/* 폭발 순간 flash */
.explosion-flash {
  position: fixed;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

.explosion-flash.active {
  animation: flash 0.25s ease;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/* 몬스터 폭발 */
.monster-explode {
  animation: monsterExplosion 0.6s ease forwards;
}

/* 화면 흔들림 */
.shake-screen {
  animation: screenShake 0.3s ease;
}

/* 오타 구역 디자인 */
.result-errors {
  margin-top: 20px;
  padding-top: 20px;

  border-top: 1px solid #ddd;
}
.result-info p,
.result-errors p {
  display: flex;
  justify-content: space-between;

  padding: 6px 0;
}

/* 버튼 css */
.result-buttons {
  padding-top: 20px;
  margin-top: 20px;

  border-top: 1px solid #ddd;
}
